server:
  port: ${PORT:5000}

spring:
  security:
    user:
      name: ${USER_NAME:levik}
      password: ${USER_PASSWORD:password}

eureka:
  instance:
    hostname: ${DOMAIN_NAME:localhost}
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: ${EUREKA_INSTANCE_URL:http://localhost:5000/eureka/}
  password: ${EUREKA_USER_PASSWORD:password}